/* custom-carousel.css */
.custom-carousel .slick-slide {
    text-align: center; /* Center the text vertically and horizontally */
    color: black;
    background: white;
    padding: 20px;
    outline: none; /* Remove the default focus outline */
  }

  .custom-carousel .slick-prev:before,
  .custom-carousel .slick-next:before {
    color: black; /* Change the color of the arrows */
  }

  .custom-carousel .slick-dots li button:before {
    color: grey; /* Change the color of the dots */
  }

  .custom-carousel .slick-dots li.slick-active button:before {
    color: black; /* Change the color of the active dot */
  }
